.container-apartment {
    display: flex;
    align-items: center;
    justify-content: space-between;
     text-align: center; 
}

.apartment-image {
   width: 20%; 
   text-align: right;
}

.apartment-table {
    border-collapse: collapse;
    width: 40%; 
    margin: 20px;
    align-self: center;
}


.apartment-table tr:nth-child(n+2):nth-child(-n+6) {
    border: 1px solid #ccc;
}

th, td {
    text-align: center;
    padding: 10px;
    
}

th {
    text-align: center;
    padding: 10px;
    color: #C3A263; 

.apartment:hover {
    background-color: #FCF9F0;
    cursor: pointer;
}

