.container-apartment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apartment-image {
    width: 45%; /* Increase width for the image container */
    margin: 20px;
}

.apartment-table {
    border-collapse: collapse;
    width: 50%; /* Reduce the table width */
    margin: 20px;
    align-self: center; /* Center the table within the flex container */
}

th, td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}

.apartment:hover {
    background-color: #FCF9F0; 
    cursor: pointer;
}

.apartment-image img {
    max-width: 100%;
    max-height: 1121px;
}
