/* TODO: font */

header {
    background-image: url("img/banner_7.jpg");
    /* leiame mingi parema? */
    width: 100%;
    height: calc(100vh - 500px);
    /* 100vh == veebilehitseja terve akna suurus */
    /* muuta vastavalt valitavale bännerile-sisule */
    /* tähtis, et selle ja footeri kõrgused on üksteisega seotud */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
}


header h1 {

    text-align: center;
    padding-right: 30px;
    font-size: 50px;
    line-height: 70px;
}

h1,
a,
button, footer h2, footer p {
    color: #b3893b;
    /*straight from the prototype*/
}

/* nav CSS */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav li {
    display: inline;
    margin-right: 20px;
}
.nav a {
    text-decoration: none;
    color: #333;
    font-family: Arial, sans-serif;
}
.current-page {
    color: #FFDB58; 
}

.other-page {
    color: #888; 
}

/* CSS for the icon */
.search {
    cursor: pointer;
}


footer {
    width: 100%;
    height: calc(100vh - 600px);
    /* s.o bännerist u 10 - 50% kitsam (prototüübi järgi) */
    background-color: #f4ebd0;
    /*straight from the prototype*/
    position: fixed;
    bottom: 0;
    padding: 80px 80px;
}

footer ul {
    list-style-type: none;
    float:left;
}

footer a {
    text-decoration: none;
}

footer li {
    padding-bottom: 20px;
}

#võtaÜhendust {
    float: right;
}

#sisukord {
}

h2 {
    font-size: 32px;
    padding-bottom: 30px;
}

input[type="submit"] {
    padding: 10px 50px 10px 50px;
    border: none;
    background-color: #b3893b;
    opacity: 0.6;
    color:white;
    border-radius: 5px;
}

input[type="email"] {
    border: none;
    padding: 10px 100px 10px 20px;
    border-radius: 5px;
}

::placeholder {
    color: #b3893b;
    opacity: 0.6;
}



@media only screen and (max-width: 950px) {

    header {
        height: calc(100vh - 400px);
    }

    header h1 {
        font-size: 35px;
        /* kui bänner valitud, saab täpsustada, et oleks hea nähtavus */
        line-height: 40px;
    }

    footer {
        height: calc(100vh - 550px);
    }
}