.container-apartment {
    display: flex;
    flex-flow: row-wrap;
    width: 100%;
    justify-content: center;
    padding: 5%;
}

.apartment-image {
    width: 90%;
}

.apartment-table {
    border-collapse: collapse;
    width: 90%;
    align-self: center;
}

.apartment-table tr:nth-child(n+2):nth-child(-n+6) {
    border: 1px solid #ccc;
}

th,
td {
    text-align: center;
    padding: 10px;
}


th {
    text-align: center;
    padding: 10px;
    color: #C3A263;
}

.apartment:hover {
    background-color: #FCF9F0;
    cursor: pointer;
}


.apartment-image img {
    width: 100%;
}




@media only screen and (max-width: 950px) {
    .container-apartment {
        flex-flow: wrap;
        }

    .apartment-table {
        margin-top: 20px;
    }

}