.container.tutvustus {
            display: flex;
            flex-direction: column;
        }

        .row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            text-align: center;
        }

        .title.tutvustus {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .text.tutvustus {
            margin-bottom: 20px;
        }

        .photo.tutvustus {
            max-width: 100px; 
            transition: transform 0.2s; 
        }

        .photo.tutvustus:hover {
            transform: scale(1.2); 
        }
