    .container.tutvustus {
            display: flex;
            flex-direction: column;
        }

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .title.tutvustus {
            font-size: 24px;
            margin-right: 20px;
        }

        .photo.tutvustus {
            max-width: 50%; 
         }
            .text.tutvustus {
            margin-bottom: 20px;
        }


